a {
  color: #00612c !important;
}

::selection {
  color: #ffffff;
  background-color: #9db668;
}

button.nav-link:not(.active) {
  color: #00612c;
}

ul.nav-pills button.nav-link.active {
  background-color: #00612c;
}

input.form-check-input:is([type="checkbox"], [type="radio"]):checked {
  background-color: #00612c;
  border-color: #00612c;
}

input.form-check-input:is([type="checkbox"], [type="radio"]):focus,
select.form-select:focus,
textarea.form-control:focus {
  border-color: #7e9849;
  box-shadow: 0 0 0 0.25rem rgba(126, 152, 73, 0.25);
}

.inchi-result-text {
  white-space: pre-wrap;
  word-break: break-all;
}

.inchi-log {
  white-space: pre-wrap;
}

.ratio.ketcher {
  --bs-aspect-ratio:62%;
  min-height:530px;
}
