<div class="row">
  <div class="col">
    <div class="form-check">
      <input
        data-id="includeStereo"
        class="form-check-input"
        type="checkbox"
        data-inchi-option-off="SNon"
        data-default-checked
        checked
      />
      <label class="form-check-label">Include Stereo:</label>
    </div>
  </div>
  <div class="col">
    <div class="form-check ms-xl-0 ms-lg-4">
      <input
        data-id="EnhancedStereochemistry"
        class="form-check-input"
        type="radio"
        name="stereoRadio"
        data-inchi-option-on="EnhancedStereochemistry"
        data-inchi-stereo-option
        data-default-checked
        checked
      />
      <label class="form-check-label">
        Enhanced Stereochemistry
        <i
          class="bi bi-question-circle-fill colored-icon"
          data-bs-toggle="tooltip"
          data-bs-custom-class="custom-tooltip"
          data-bs-html="true"
          data-bs-title="The functionality for enhanced stereochemistry is a work in progress. You can expect to encounter warnings. <p><b>Note: </b> Enhanced stereochemistry is only supported in the v3000 mol file format."
        ></i>
      </label>
    </div>
    <div class="form-check ms-xl-0 ms-lg-4">
      <input
        data-id="SAbs"
        class="form-check-input"
        type="radio"
        name="stereoRadio"
        data-inchi-stereo-option
      />
      <label class="form-check-label">Absolute</label>
    </div>
    <div class="form-check ms-xl-0 ms-lg-4">
      <input
        data-id="SRel"
        class="form-check-input"
        type="radio"
        name="stereoRadio"
        data-inchi-option-on="SRel"
        data-inchi-stereo-option
      />
      <label class="form-check-label">Relative</label>
    </div>
    <div class="form-check ms-xl-0 ms-lg-4">
      <input
        data-id="SRac"
        class="form-check-input"
        type="radio"
        name="stereoRadio"
        data-inchi-option-on="SRac"
        data-inchi-stereo-option
      />
      <label class="form-check-label">Racemic</label>
    </div>
    <div class="form-check ms-xl-0 ms-lg-4">
      <input
        data-id="SUCF"
        class="form-check-input"
        type="radio"
        name="stereoRadio"
        data-inchi-option-on="SUCF"
        data-inchi-stereo-option
      />
      <label class="form-check-label">From chiral flag</label>
    </div>
  </div>
</div>
<div class="form-check ms-4">
  <input
    data-id="SUU"
    class="form-check-input"
    type="checkbox"
    data-inchi-option-on="SUU"
    data-inchi-stereo-option
  />
  <label class="form-check-label"
    >Always include omitted/undefined stereo</label
  >
</div>
<div class="form-check ms-4">
  <input
    data-id="SLUUD"
    class="form-check-input"
    type="checkbox"
    data-inchi-option-on="SLUUD"
    data-inchi-stereo-option
  />
  <label class="form-check-label"
    >Different marks for unknown/undefined stereo</label
  >
</div>
<div class="form-check ms-4">
  <input
    data-id="NEWPSOFF"
    class="form-check-input"
    type="checkbox"
    data-inchi-option-on="NEWPSOFF"
    data-inchi-stereo-option
  />
  <label class="form-check-label"
    >Both ends of wedge point to stereocenters</label
  >
</div>
