<div class="form-check">
  <select data-tautomer-multiselect multiple="multiple">
    <option data-role="divider"></option>
    <option data-id="KET" data-inchi-option-on="KET" value="KET">
      KET - Keto-enol Tautomerism
    </option>
    <option data-id="15T" data-inchi-option-on="15T" value="15T">
      15T - 1,5-tautomerism
    </option>
    <option data-id="PT_06_00" data-inchi-option-on="PT_06_00" value="PT_06_00">
      PT_06_00 - 1,3 heteroatom H-shift
    </option>
    <option data-id="PT_13_00" data-inchi-option-on="PT_13_00" value="PT_13_00">
      PT_13_00 - keten-inol exchange
    </option>
    <option data-id="PT_16_00" data-inchi-option-on="PT_16_00" value="PT_16_00">
      PT_16_00 - nitroso/oxime
    </option>
    <option data-id="PT_18_00" data-inchi-option-on="PT_18_00" value="PT_18_00">
      PT_18_00 - cyanic/iso-cyanic acids
    </option>
    <option data-id="PT_22_00" data-inchi-option-on="PT_22_00" value="PT_22_00">
      PT_22_00 - imine/imine
    </option>
    <option data-id="PT_39_00" data-inchi-option-on="PT_39_00" value="PT_39_00">
      PT_39_00 - nitrone/azoxy or Behrend rearrangement
    </option>
  </select>
</div>
