<hr />

<p>
  This web application runs entirely in your browser using WebAssembly
  (https://webassembly.org). All data is processed locally in your browser and
  is not transmitted anywhere. This benefit comes at the cost that the initial
  loading might take a while since we need to download all the resources (that
  would otherwise live on a server). If the application behaves unexpectedly,
  try clearing your browser cache and reloading the page (CTRL + F5 in most
  browsers). Clearing the cache helps because an update might have changed files
  that are now in conflict with the files in your browser cache.
</p>

<h2>Acknowledgements</h2>
<p>
  We'd like to express our gratitude to the developers of the open source projects we're depending on:
  <ul>
    <li>
      We're rendering structures using the NGL Viewer (<a href="https://github.com/nglviewer/ngl" target="_blank"
    >github.com/nglviewer/ngl</a>, <a href="doi:10.1093/bioinformatics/bty419" target="_blank">doi:10.1093/bioinformatics/bty419</a>)</li>
  </ul>
</p>

<h2>Contact</h2>
<p>
  If you have any questions, suggestions, or feedback, please reach out to us:
  <a href="mailto:inchi@ac.rwth-aachen.de">inchi@ac.rwth-aachen.de</a>. We
  especially encourage you to report problematic structures (please include a
  molfile along with a description of the problem). You can also submit an issue
  via our
  <a href="https://github.com/IUPAC-InChI/InChI-Web-Demo" target="_blank"
    >GitHub repository</a
  >.
</p>

<h2>Funding</h2>
<p>
  The development of this web application has been supported by the following
  organizations:
</p>

<div class="row mt-5 mb-5">
  <div class="col-lg-4">
    The Volkswagen Foundation with the project
    <a
      href="https://portal.volkswagenstiftung.de/search/projectDetails.do?ref=98698"
      target="_blank"
    >
      <i
        >Universal molecular syntax for sustainable machine learning
        applications</i
      > </a
    >.
  </div>
  <div class="col-lg-3 offset-lg-1">
    <a href="https://www.volkswagenstiftung.de" target="_blank">
      <img
        style="width: 100%; height: auto"
        src="img/Logo_Volkswagenstiftung.svg"
        alt="Volkswagenstiftung Logo"
      />
    </a>
  </div>
</div>

<hr />

<div class="row mt-5 mb-5">
  <div class="col-lg-4">
    <a href="https://www.nfdi4chem.de" target="_blank"><i>NFDI4Chem</i></a>
    funded by the German Research Foundation (project number
    <a href="https://gepris.dfg.de/gepris/projekt/441958208" target="_blank"
      >441958208</a
    >).
  </div>
  <div class="col-lg-3 offset-lg-1">
    <a href="https://www.dfg.de" target="_blank">
      <img
        style="width: 100%; height: auto"
        src="img/dfg_logo_schriftzug_blau_foerderung_en.gif"
        alt="DFG Logo"
      />
    </a>
  </div>
  <div class="col-lg-3 offset-lg-1">
    <a href="https://www.nfdi4chem.de" target="_blank">
      <img
        style="width: 100%; height: auto"
        src="img/NFDI4Chem-Logo_mehrfarbig_schwarz.png"
        alt="NFDI4Chem Logo"
      />
    </a>
    <small>
      "<a
        href="https://commons.wikimedia.org/wiki/File:NFDI4Chem-Logo_mehrfarbig_schwarz.png"
        target="_blank"
        >Logo of NFDI4Chem</a
      >" by <i>TimeSpin</i> is licensed under
      <a
        href="https://creativecommons.org/licenses/by-sa/4.0/deed.en"
        target="_blank"
        >CC BY-SA 4.0</a
      >.
    </small>
  </div>
</div>

<hr />

<div class="row mt-5">
  <div class="col-lg-4">
    <i>DALIA</i> funded by the German Federal Ministry of Education and Research
    (funding ID
    <a
      href="https://foerderportal.bund.de/foekat/jsp/SucheAction.do?actionMode=view&fkz=16DWWQP07B"
      target="_blank"
      >16DWWQP07B</a
    >) and Next Generation EU.
  </div>
  <div class="col-lg-3 offset-lg-1">
    <a href="https://www.bmbf.de" target="_blank">
      <img
        style="width: 100%; height: auto"
        src="img/Foerderhinweis_BMBF.jpg"
        alt="BMBF Logo"
      />
    </a>
    <img
      style="width: 100%; height: auto"
      src="img/Foerderhinweis_EU_horizontal.jpg"
      alt="Next Generation EU Logo"
    />
  </div>
  <div class="col-lg-3 offset-lg-1">
    <img
      style="width: 100%; height: auto"
      src="img/Dalia_Wortmarke_Kompakt_Blau_RGB.svg"
      alt="Dalia Logo"
    />
  </div>
</div>

<hr />

<div class="row mt-5 mb-5">
  <div class="col-lg-4">
    The
    <a href="https://www.beilstein-institut.de/en/" target="_blank"
      ><i>Beilstein-Institut</i></a
    >
    zur Förderung der Chemischen Wissenschaften
  </div>
  <div class="col-lg-3 offset-lg-1">
    <a href="https://www.beilstein-institut.de/en/" target="_blank">
      <img
        style="width: 100%; height: auto"
        src="img/Logo_Beilstein_sRGB.jpg"
        alt="Volkswagenstiftung Logo"
      />
    </a>
  </div>
</div>
