<div class="form-check">
  <input
    data-id="mobileH"
    class="form-check-input"
    type="checkbox"
    data-inchi-option-off="FixedH"
    data-default-checked
    checked
  />
  <label class="form-check-label">Mobile H Perception</label>
</div>
<div class="form-check">
  <input
    data-id="doNotAddH"
    class="form-check-input"
    type="checkbox"
    data-inchi-option-on="DoNotAddH"
  />
  <label class="form-check-label"
    >Do not add implicit H atoms
    <i
      class="bi bi-question-circle-fill colored-icon"
      data-bs-toggle="tooltip"
      data-bs-custom-class="custom-tooltip"
      data-bs-html="true"
      data-bs-title="If enabled all hydrogens in input structure will be treated as explicit hydrogens. Reflects the <i>doNotAddH</i> option in the InChI command line tool. If disabled, implicit hydrogens will be added to the structure before InChI generation. <p><b>Note: </b> The Ketcher structural drawing tool does not take this option into account. Therefore, implicit hydrogen atoms are displayed based on the Ketcher settings.</p>"
    ></i
  ></label>
</div>
<div class="row">
  <div class="col">
    <div class="form-check">
      <input
        data-id="includeStereo"
        class="form-check-input"
        type="checkbox"
        data-inchi-option-off="SNon"
        data-default-checked
        checked
      />
      <label class="form-check-label">Include Stereo:</label>
    </div>
  </div>
  <div class="col">
    <div class="form-check ms-xl-0 ms-lg-4">
      <input
        data-id="EnhancedStereochemistry"
        class="form-check-input"
        type="radio"
        name="stereoRadio"
        data-inchi-option-on="EnhancedStereochemistry"
        data-inchi-stereo-option
        data-default-checked
        checked
      />
      <label class="form-check-label">
        Enhanced Stereochemistry
        <i
          class="bi bi-question-circle-fill colored-icon"
          data-bs-toggle="tooltip"
          data-bs-custom-class="custom-tooltip"
          data-bs-html="true"
          data-bs-title="The functionality for enhanced stereochemistry is a work in progress. You can expect to encounter warnings."
        ></i>
      </label>
    </div>
    <div class="form-check ms-xl-0 ms-lg-4">
      <input
        data-id="SAbs"
        class="form-check-input"
        type="radio"
        name="stereoRadio"
        data-inchi-stereo-option
      />
      <label class="form-check-label">Absolute</label>
    </div>
    <div class="form-check ms-xl-0 ms-lg-4">
      <input
        data-id="SRel"
        class="form-check-input"
        type="radio"
        name="stereoRadio"
        data-inchi-option-on="SRel"
        data-inchi-stereo-option
      />
      <label class="form-check-label">Relative</label>
    </div>
    <div class="form-check ms-xl-0 ms-lg-4">
      <input
        data-id="SRac"
        class="form-check-input"
        type="radio"
        name="stereoRadio"
        data-inchi-option-on="SRac"
        data-inchi-stereo-option
      />
      <label class="form-check-label">Racemic</label>
    </div>
    <div class="form-check ms-xl-0 ms-lg-4">
      <input
        data-id="SUCF"
        class="form-check-input"
        type="radio"
        name="stereoRadio"
        data-inchi-option-on="SUCF"
        data-inchi-stereo-option
      />
      <label class="form-check-label">From chiral flag</label>
    </div>
  </div>
</div>
<div class="form-check ms-4">
  <input
    data-id="SUU"
    class="form-check-input"
    type="checkbox"
    data-inchi-option-on="SUU"
    data-inchi-stereo-option
  />
  <label class="form-check-label"
    >Always include omitted/undefined stereo</label
  >
</div>
<div class="form-check ms-4">
  <input
    data-id="SLUUD"
    class="form-check-input"
    type="checkbox"
    data-inchi-option-on="SLUUD"
    data-inchi-stereo-option
  />
  <label class="form-check-label"
    >Different marks for unknown/undefined stereo</label
  >
</div>
<div class="form-check ms-4">
  <input
    data-id="NEWPSOFF"
    class="form-check-input"
    type="checkbox"
    data-inchi-option-on="NEWPSOFF"
    data-inchi-stereo-option
  />
  <label class="form-check-label"
    >Both ends of wedge point to stereocenters</label
  >
</div>
<div class="form-check">
  <input
    data-id="RecMet"
    class="form-check-input"
    type="checkbox"
    data-inchi-option-on="RecMet"
  />
  <label class="form-check-label">Include Bonds to Metal</label>
</div>
<div class="form-check">
  <input
    data-id="treatPolymers"
    class="form-check-input"
    type="checkbox"
    data-inchi-option-on="Polymers"
  />
  <label class="form-check-label">Treat polymers:</label>
</div>
<div class="form-check ms-4">
  <input
    data-id="NoEdits"
    class="form-check-input"
    type="checkbox"
    data-inchi-option-on="NoEdits"
    data-inchi-polymer-option
    data-default-disabled
    disabled
  />
  <label class="form-check-label"
    >No pre-edits of original polymer structure</label
  >
</div>
<div class="form-check ms-4">
  <input
    data-id="FoldCRU"
    class="form-check-input"
    type="checkbox"
    data-inchi-option-on="FoldCRU"
    data-inchi-polymer-option
    data-default-disabled
    disabled
  />
  <label class="form-check-label">Enable CRU folding</label>
</div>
<div class="form-check ms-4">
  <input
    data-id="NoFrameShift"
    class="form-check-input"
    type="checkbox"
    data-inchi-option-on="NoFrameShift"
    data-inchi-polymer-option
    data-default-disabled
    disabled
  />
  <label class="form-check-label">Disable CRU frame shift</label>
</div>
<div class="form-check">
  <input
    data-id="NPZz"
    class="form-check-input"
    type="checkbox"
    data-inchi-option-on="NPZz"
  />
  <label class="form-check-label"
    >Allow non-polymer Zz pseudoatoms
    <i
      class="bi bi-question-circle-fill colored-icon"
      data-bs-toggle="tooltip"
      data-bs-custom-class="custom-tooltip"
      data-bs-html="true"
      data-bs-title='The "Zz" or "*" ("star") pseudoatom is a generic placeholder designating an entity of undefined/unknown/variable nature. It is typically used for handling polymers, but may also be used outside the polymer context with this InChI option (<i>NPZz</i>). See the InChI Technical Manual, section IV. "g. Zz (star, pseudo element) atoms", for details.<br /><br />How to draw?<br />"*" pseudoatoms can be selected within the Ketcher structure editor either via the <i>Extended Table</i> in the right toolbar or using the hotkey "*".'
    ></i
  ></label>
</div>
<div class="mt-2">
  <a style="text-decoration: none" role="button" data-reset-inchi-options
    ><i class="bi bi-arrow-clockwise pe-2"></i>Reset InChI Options</a
  >
</div>
